%head
  %link{:href => 'http://fonts.googleapis.com/css?family=Permanent+Marker', :rel => 'stylesheet', :type => 'text/css'}

%body.home_page
  %p.home_box
    = link_to 'Log In', new_user_session_path
  %p.home_box
    = link_to "Register",new_user_registration_path
  %h2 Welcome to Picture Board