%h1 All Users

.index
  %table
    %tr
      %th User
      / %th User Name
      %th Profile Image
    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        /   %td= user.username
        %td= image_tag(user.profile_image.thumb.url)
        %td= link_to 'Destroy', user, :method => :delete, :confirm => 'Are you sure?' if can? :destroy, user

  / already has a default class of 'pagination' AW
  = paginate @users
  %br