/PK to be included in the footer.

%head
  %link{:href => 'http://fonts.googleapis.com/css?family=Permanent+Marker', :rel => 'stylesheet', :type => 'text/css'}

- content_for :title, "About"

.other
  .other_info
    %h1 About

    %p Fixie sustainable irony typewriter cornhole shabby chic. Meh Vice cray fashion axe. Fanny pack Wes Anderson hella, crucifix Tumblr Carles butcher skateboard wolf banjo. Beard street art mixtape, Odd Future dreamcatcher polaroid mustache Godard organic farm-to-table plaid. Pickled Pinterest McSweeney's, seitan street art Bushwick High Life YOLO. Beard American Apparel fap cardigan squid ugh, pork belly freegan chia flexitarian. Semiotics Intelligentsia Williamsburg VHS vinyl, Tumblr ethical crucifix Austin gluten-free.

    %p Helvetica cred American Apparel you probably haven't heard of them, iPhone Godard skateboard lo-fi blog ennui small batch. American Apparel lomo cred Helvetica, hashtag semiotics gastropub Etsy butcher PBR distillery squid four loko. Mlkshk Williamsburg gluten-free, Intelligentsia Pinterest Tumblr deep v Wes Anderson ethical. Butcher fashion axe craft beer, ethical flexitarian hashtag Neutra yr Tonx scenester next level. Artisan Intelligentsia next level, readymade narwhal tattooed post-ironic blog +1 chambray. Squid banh mi Etsy, 3 wolf moon cliche brunch actually you probably haven't heard of them mlkshk 90's wolf trust fund shabby chic polaroid raw denim. Normcore vegan cliche Schlitz typewriter, meggings brunch vinyl.

    %p Scenester shabby chic bespoke art party, authentic street art Banksy banh mi gentrify. Disrupt Blue Bottle Pinterest, selfies hella ethical salvia wayfarers banh mi leggings Portland Austin ennui ugh. Meggings flannel Neutra, Portland single-origin coffee cray sustainable YOLO dreamcatcher aesthetic American Apparel disrupt. Yr artisan Cosby sweater sustainable mumblecore, next level PBR. Distillery gentrify disrupt fanny pack pour-over VHS. Yr High Life semiotics, irony 3 wolf moon deep v cred. Try-hard banh mi kale chips dreamcatcher, YOLO farm-to-table sriracha blog typewriter.

    %p Banh mi locavore American Apparel, mustache lo-fi pour-over bitters yr. McSweeney's typewriter ethnic, meh master cleanse ugh Shoreditch plaid gentrify next level shabby chic. Portland gluten-free DIY, hashtag asymmetrical Thundercats bespoke chillwave. PBR banh mi bitters, viral fap cornhole direct trade narwhal farm-to-table Truffaut hella asymmetrical roof party polaroid. Fanny pack aesthetic umami kale chips, gluten-free cardigan single-origin coffee ennui. Brooklyn tofu twee, Marfa Bushwick master cleanse 90's keffiyeh mumblecore Vice DIY viral mustache before they sold out. +1 Banksy quinoa, food truck mustache kitsch fingerstache flannel cardigan ennui gentrify High Life.