/ = render layout: false
/ trying to not render the layout/application.html

/ .home_page
/   %h1 Welcome to Our App

/   #home_box
/     %p
/       = link_to 'Log In', new_user_session_path
/     %p
/       = link_to "Register", new_user_registration_path