#album_text
  %h1 Current tags

.index
  %table
    - @tags.each do |tag|
      %tr
        %td= link_to tag.name, tag
        / %td= link_to 'Edit', edit_tag_path(tag)
        %td= link_to 'Destroy', tag, :method => :delete, :data => { :confirm => 'Are you sure?' } if can? :destroy, tag

  = paginate @tags
  / = link_to 'New Tag', new_tag_path
  %br
