%p#notice= notice

#album_text
  %h1= @tag.name
  = link_to 'Back', tags_path

#random_image
  %p
    - @tag.photos.each do |photo_tag|
      .image_info
        / = image_tag photo_tag.image
        = link_to (image_tag photo_tag.image), album_photo_path(@album, photo_tag)
