%p#notice= notice

#album_text
  %h4= @tag.name
  = link_to 'Back', tags_path

#random_image
  .image_info
    %p
      %b
      - @tag.photos.each do |photo_tag|
        / = link_to (image_tag photo_tag.image), album_photo_path(@album, photo_tag)
        = image_tag photo_tag.image
