@mixin main_font {
  font-family: 'Permanent Marker', cursive;
}

header {
  position: fixed;
  top: 0px; 
  width: 100%;
  text-align: center; 
  background: #A3ADB8;
  max-height: 100px;
}

nav {
  display: fixed;
  max-height: 100px;
}

.nav {
  text-align: left;
  display: inline;
  margin: 0;
  list-style: none;
}

.nav li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 13px 20px;
  cursor: pointer;
  text-decoration: none;
  font-family: arial;
  color: white;
  max-height: 45px;
}

nav a, li:nth-child(2), li:nth-child(7) {
  @include main_font;
}

.nav li:hover {
  background: #555;
  color: #fff;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav li ul {
ul li:hover {
  background: #555;
  color: #fff;
  }
}

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 100px;
  display: none;
  opacity: 0;
  visibility: hidden;
}

.nav li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
}

.nav li ul li:hover { 
  background: #666; 
}

.nav li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
