$nav_color: #990000;
$photo_back: #FFF6EC;
@mixin marker_pen {
  font-family: 'Permanent Marker', cursive;
}


.signup_page {
  background: url('signup.jpg') fixed;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  margin: auto;
  width: 100%;
  text-align: left;
  margin-left: 100px;
}

.signin_page {
  background: url('signin.png') fixed;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  margin: auto;
  width: 100%;
  text-align: left;
  margin-left: 100px;
}

.signup_form {
  border: solid $nav_color 10px;
  background: $photo_back;
  /*opacity: 0.6;*/
  border-radius: 10px;
  font-color: $nav_color;
  width: 300px;
  padding: 10px 10px 20px 50px;
  display: inline-block;
  margin: auto;
  text-decoration: none;
  /*font-color: black;*/
  margin-top: 20px;
   h2, form, a {
      @include marker_pen;
      color: $nav_color;
    }
}

.signin_form {
  border: solid $nav_color 10px;
  background: $photo_back;
  /*opacity: 0.6;*/
  border-radius: 10px;
  font-color: $nav_color;
  width: 300px;
  padding: 10px 10px 20px 50px;
  display: inline-block;
  margin: auto;
  text-decoration: none;
  margin-top: 100px;
    h2, form, a {
      @include marker_pen;
      color: $nav_color;
    }
}


/*for the webcam*/

#webcam {
  width: 300px;
  background: rgba(255,255,255,1);
  border: 1px solid #ccc;
}

#screenshot-canvas {
  width: 300px;
  background: rgba(255,255,255,1);
  border: 1px solid #ccc;
}

.dispnone {
  display: none;
}