$nav_color: #990000;
$photo_back: #FFF6EC;
@mixin marker_pen {
  font-family: 'Permanent Marker', cursive;
}

.facebookicon {
  width: 100px
}

body {
  background: url('wood_background.jpg') fixed;
}

h1, h2 {
  margin-top: 100px;
  font-size: 50px;
  text-align: center;
  @include marker_pen;
  color: $nav_color;
}

a:visited {
  text-decoration: none;
  font-color: black;
}

th {
    font-weight: bold;
  }
td {
  padding: 20px;
}

.index {
  @include marker_pen;
  color: $nav_color;
  background: $photo_back;
  width: 70%;
  margin: 0 auto 0 auto;
  border-radius: 20px;
  padding-bottom: 20px 20px 120px 20px;
    a {
      text-decoration: none;
      color: $nav_color;
    }
    a:hover{
      color: darken($nav_color, 10%)
    }
    p, li, a {
      padding: 5px;
      margin-left: 5px;
    }
}

#showwebcam-button, #screenshot-button {
margin-left: 2px; 
width: 100px;
font-size: 12px;
  -webkit-appearance: push-button;
  -webkit-user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  padding: 2px 6px 3px;
  border: 2px outset buttonface;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: buttonface;
  box-sizing: border-box;
}

#index_element {
  margin-left: 10px;
  padding: 5px;
  font-size: 20px;
}

#show_image {
  margin-top: 100px;
  img {
    width: 75%;
    height: auto;
    /*border: #FFFFEF;*/
    border-width: 50px 50px 250px 50px;
    border-radius: 10px;
  }
}

#random_image {
  margin-top: 500px;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  .image_info {
    display: inline-block;
    width: 25%;
    height: auto;
    background-color: $photo_back;
    margin: 10px;
    padding: 1% 1% 0.25% 1%;
    @include marker_pen;
    font-size: 12px;
    text-align: left;
    img {
      width: 100%;
      height: 100%;
      display: block;
      }
    }
}

#album_text {
  width: 50%;
  margin-top: 50px;
  @include marker_pen;
  color: $nav_color;
  background: $photo_back;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
    a {
      text-decoration: none;
      color: $nav_color;
    }
    a:hover{
      color: darken($nav_color, 10%)
    }
    li {
      padding:  10px;
      list-style: none;
    }
    li:first-child {
      font-size: 70px;
      text-align: center;
    }
}

/*LANDING PAGE FOR LOGIN OR REGISTER*/
.home_page {
  background: url('home.jpg') fixed;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  /*line-height: center;*/
  margin: auto;
  top: 50%;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
    a {
      color: $nav_color;
      @include marker_pen;
    }  
    h1 {
      @include marker_pen;
      font-size: 70px;
    }
}

.home_box {
  border: $nav_color solid 10px;
  background: $photo_back;
  /*opacity: 0.6;*/
  border-radius: 10px;
  font-color: $nav_color;
  width: 31%;
  height: 30px;
  display: inline-block;
  margin: auto;
  text-decoration: none;
  font-color: $nav_color;
  margin-top: 10px;
}

.home_box a{
  text-decoration: none;
  font-color: $nav_color;
}

.other {
  width: 100%;
  background: $photo_back;
  width: 70%;
  margin: auto;
}

.other_info {
  margin-top: 100px;
  color: $nav_color;
/*$photo_back: #FFF6EC;*/
  @include marker_pen;
  padding: 10px;
}

.footer {
  display: inline-block;
  margin-right: 10px;
  color: white;
    a {
      text-decoration: none;
      color: white;
    }
} 

#edit_image {
  color: #990000;
  width: 100%;
  padding-bottom: 20px;
    p button:last-child {
      float: left;
    }
    .edit_image_info {
      display: inline-block;
      width: 40%;
      height: auto;
      background-color: $photo_back;
      vertical-align: bottom;
      margin: 10px;
      padding: 3% 3% 2% 3%;
      @include marker_pen;
      font-size: 20px;
      text-align: left;
      border-radius: 40px;
        img {
          width: 100%;
          height: 100%;
          display: block;
          }
    }
}

#album_text h4 {
  text-align: center;
  font-size: 40px;
  border-radius: 20px;
}

#album_text {
  border-radius: 20px;
}

.image_info {
  vertical-align: top;
}

#showing_image {
  color: #990000;
  margin-top: 500px;
  width: 100%;
  float: left;
  margin-top: auto;
  padding-bottom: 20px;
  margin-left: 30px;
  vertical-align: top;
    p button:last-child {
      float: left;
    }
    #map-canvas {
          float: right;
          margin-top: 1%;
          margin-right: 1%;
          left: 55%;
          top: 20%;
          position: fixed !important;
        }
    .showing_image_info {
      display: inline-block;
      width: 40%;
      height: auto;
      background-color: $photo_back;
      margin: 10px;
      padding: 3% 3% 2% 3%;
      float: left;
      @include marker_pen;
      font-size: 20px;
      text-align: left;
      border-radius: 40px;
        img {
          width: 100%;
          height: 100%;
          display: block;
          }
        a {
          text-decoration: none;
          color: $nav_color;
        }
        a:hover {
          color: lighten($nav_color, 10%);
        }
    }
}

.bottom_buttons {
  margin-left: auto;
    a {
      background: $photo_back;
      color: $nav_color;
      text-decoration: none;
      @include marker_pen;
      padding: 0px 20px 0px 0px;
    }
    a:hover {
      color: lighten($nav_color, 10%);
    }
}

.social-share-button {
  margin-left: 60px;
    a {
      margin-left: 2px;
    }
  }

#autocomplete {
  z-index: 100px;
}

/*

 gerry's tests 
.instant-bg::before{
  content: "test";  content: url(///dfh/fd/g/d)
  width: 40px;
  height:20px;
  background-color: red;
  position: absolute;

}*/



