
@mixin marker_pen {
  font-family: 'Permanent Marker', cursive;
}


body {
  background: url('wood_background.jpg') fixed;
  margin-top: 70px;
  max-width: 1400px;
}

.header_div {
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;
  height: 100px;
  border: 20px white solid;
  background: white;
  opacity: 0.6;
  text-align: center;
}

#show_image {
  margin-top: 100px;
  img {
    width: 75%;
    height: auto;
    border: #FFFFF1 solid;
    border-width: 50px 50px 250px 50px;
    border-radius: 10px;
  }
}

#random_image {
  margin-top: 500px;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  .image_info {
    display: inline-block;
    width: 25%;
    height: auto;
    background-color: #FFFFF1;
    vertical-align: bottom;
    margin: 10px;
    padding: 3% 3% 2% 3%;
    @include marker_pen;
    font-size: 12px;
    text-align: left;
    img {
      width: 100%;
      height: 100%;
      display: block;
      }
    }
}

#album_text {
  margin-top: 50px;
    li {
      padding:  10px;
      list-style: none;
    }
    li:first-child {
      font-size: 70px;
      text-align: center;
    }
}

/*LANDING PAGE FOR LOGIN OR REGISTER*/
.home_page {
  background: url('home.jpg') fixed;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  line-height: 200px;
  margin: auto;
  top: 50%;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

.home_box {
  border: black solid 10px;
  background: white;
  opacity: 0.6;
  border-radius: 10px;
  font-color: red;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: auto;
  text-decoration: none;
  font-color: black;
}

.home_box a{
  text-decoration: none;
  font-color: black;
}

/*

 gerry's tests 
.instant-bg::before{
  content: "test";  content: url(///dfh/fd/g/d)
  width: 40px;
  height:20px;
  background-color: red;
  position: absolute;

}*/
