* {
  margin-bottom: 30px;
}

#album_display {
  width: 900px;
}

#album_photos {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.home_page {
  background-image: url('home.png');
  /*background: url('home.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  line-height: 200px;
  margin: auto;
  top: 50%;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

.home_box {
  border: black solid 10px;
  background: white;
  opacity: 0.6;
  border-radius: 10px;
  font-color: red;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: auto;
  text-decoration: none;
  font-color: black;
}

.home_box a{
  text-decoration: none;
  font-color: black;
}

