/*colour for background on album_show_page */ $album_background: #202020 ;  

body {
  /*margin-bottom: 30px;*/
  margin: auto;
  max-width: 1400px;
}


#album_text {
    li {
      padding:  10px;
      list-style: none;
    }
    li:first-child {
      font-size: 70px;
      text-align: center;
    }
}

#album {
  max-width: 1400px;
  width: 100%;
  margin: 10px;
  border-radius: 20px;
  padding: 50px;
  background: $album_background;
   img {
       width: 200px;
      height: auto;
    }
}

#album_display {
  width: 100%;
  padding: 50px;
  width: 900px;
  margin: auto;
  background: lighten($album_background, 10% );
  border-radius: 30px;
  text-align: center;
}

#album_photos {
  width: 200px;
  height: auto;
  display: inline-block;
  margin: auto;
 
}

.home_page {
  background: url('home.png') fixed;
  /*background: url('home.png'); */
  background-size: cover;
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

#home_box {
  border: black solid 10px;
  background: #E0E0E0;
  /*opacity: 0.6;*/
  border-radius: 10px;
  font-color: red;
  width: 200px;
  margin: auto;
  text-decoration: none;
  font-color: black;
}

#home_box a{
  text-decoration: none;
  font-color: black;
}

